{% extends "layout.html" %}
{% block script %}
<script src="{{ url_for('static', filename='js/jquery.form.min.js') }}"></script>
{% endblock %}
{% block body %}
<div id="success-alert" class="alert alert-success alert-hidden">提交成功！</div>
<div id="fail-alert" class="alert alert-danger alert-hidden">提交失败！</div>
<div class="container" style="padding-top: 40px;">
    <div class="row">
        <!-- 左侧课程导航栏 -->
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                {% for item in courses %}
                    {% if info.cid and item.cid == info.cid %}
                    <li class="active">
                        <a href="{{ url_for('.course', cid=item.cid) }}">{{ item.title }}</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{{ url_for('.course', cid=item.cid) }}">{{ item.title }}</a>
                    </li>
                    {% endif %}
                {% else %}
                <li class="active"><a>未加入课程</a></li>
                {% endfor %}
            </ul>
        </div>
        <!-- 右侧课程信息栏-->
        <div class="col-md-9">
            {% if info.title %}
            <h1>{{ info.title }}<!--  <small id="course_teacher" style="padding-left: 20px;"></small>  --></h1>
            {% else %}
            <h1>未选择课程</h1>
            {% endif %}
            <hr />
            <!-- 作业信息 -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>作业标题</th>
                        <th>截止时间</th>
                        <th>提交时间</th>
                        <th>作业状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in homework %}
                    <tr>
                        <td><a onclick="details({{ info.cid }}, {{ item.hid }})" style="cursor: pointer;">{{ item.title | ellipsis }}</a></td>
                        <td>{{ item.deadline }}</td>
                        <td>{{ item.handin }}</td>
                        <td>{{ item.status }}</td>
                        {% if not item.handin == '未提交' %}
                        <td>
                            <button type="button" class="btn btn-default btn-xs"
                                    onclick="location.href='{{ url_for('.homework', cid=info.cid, sid=info.sid, hid=item.hid) }}'">
                                <span class="glyphicon glyphicon-cloud-download"></span> 下载
                            </button>
                        </td>
                        {% else %}
                        <td>
                            <button type="button" class="btn btn-default btn-xs" data-toggle="modal"
                                    onclick="upload({{ item.hid }})">
                                <span class="glyphicon glyphicon-cloud-upload"></span> 提交
                            </button>
                        </td>
                        {% endif %}
                    </tr>
                    {% else %}
                    <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if info.page %}
            <div style="text-align: center;">
                <nav>
                    <ul class="pagination">
                        {% if info.cur == 1 %}
                        <li class="disabled"><a><span>&laquo;</span></a></li>
                        {% else %}
                        <li>
                            <a href="{{ url_for('.course', cid=info.cid, cur=info.cur-1) }}">
                                <span>&laquo;</span>
                            </a>
                        </li>
                        {% endif %}
                        {% for index in range(1, info.page + 1) %}
                            {% if index == info.cur %}
                                <li class="active"><a>{{ index }}</a></li>
                            {% else %}
                                <li>
                                    <a href="{{ url_for('.course', cid=info.cid, cur=index) }}">{{ index }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if info.cur == info.page %}
                        <li class="disabled"><a><span>&raquo;</span></a></li>
                        {% else %}
                        <li>
                            <a href="{{ url_for('.course', cid=info.cid, cur=info.cur+1) }}">
                                <span>&raquo;</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% if info.sid %}
<!-- 作业详情模态框 -->
<div class="modal fade" id="homework-details" tabindex="-1">
    <div class="modal-dialog modal-lg" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4>作业详情</h4>
            </div>
            <div id="details-body" class="modal-body">
            </div>
            <div id="details-footer" class="modal-footer">
            </div>
        </div>
    </div>
</div>
<!-- 作业上传模态框 -->
<div class="modal fade" id="homework-upload" tabindex="-1">
    <div class="modal-dialog" >
        <div class="modal-content">
            <form id="upload-form" action="{{ url_for('.upload') }}" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h4>作业上传</h4>
                </div>
                <div class="modal-body">
                    <input name="cid" type="hidden" value="{{ info.cid }}">
                    <input name="sid" type="hidden" value="{{ info.sid }}">
                    <input id="upload-hid" name="hid" type="hidden">
                    <input id="upload-file" name="file" type="file" style="display:none">
                    <div class="input-group">
                        <input type="text" class="form-control" id="select-filename" readonly>
                        <span class="input-group-btn">
                            <a class="btn btn-default" onclick="$('#upload-file').click()">浏览</a>
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">上传文件</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    // 监听浏览按钮
    $('#upload-file').change(function() {
        var path = $(this).val();
        var arr = path.split("\\");
        $('#select-filename').val(arr.pop());
    });

    // 异步上传表单
    $('#upload-form').ajaxForm({
        success: function(data) {
            $('#homework-upload').modal('hide');
            if (data == 'success') {
                $('#success-alert').fadeIn();
                setTimeout('$("#success-alert").fadeOut()', 1800);
            } else {
                $('#fail-alert').fadeIn();
                setTimeout('$("#fail-alert").fadeOut()', 1800);
            }
        }
    });
});

// 显示上传模态框
function upload(hid) {
    $('#upload-hid').val(hid);
    $('#homework-upload').modal({
        backdrop: 'static',
        keyboard: false
    });
}

// 显示作业详情
function details(cid, hid) {
    $.get('{{ url_for('.details') }}',
    {
        'cid': cid,
        'hid': hid
    },
    function(data, status) {
        $('#details-body').html(data.content);
        if (data.footer) {
            $('#details-footer').html(data.footer);
        }
        $('#homework-details').modal('show');
    },
    'json');
}
</script>
{% endif %}
{% endblock %}
